body {
    background-color: rgb(22, 22, 22);
    font-family: 'Inter', sans-serif;
}
/* width */
::-webkit-scrollbar {
    width: 0.75em;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgb(34, 34, 34);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(85, 85, 85);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(124, 124, 124);
  }
.brcpxa {
    display: none
}
.ikyGAt {
    display: none;
}
.hCVuYx {
    background-color: #1db95477 !important;
  }
  
  .chowzb {
    background-color: #1db95477 !important;
  }
  .chowzb:hover{
      background-color: lightgreen !important;
  }
  .header {
      height: 5em;
      display: flex;
      justify-content: space-between;
      padding: 1.5em;
      font-size: 1.2em;
  }

  .tab{
      color: rgb(187, 187, 187);
      margin: 0 1.5em;
  }
  .tab:hover{
      cursor: pointer;
      color: white;
  }
  .logo{
      color: white;
  }
  .profile_logo{
      color: white;
  }
  .img{
    height: 9em;
    display: block;
    margin: auto;
    margin-top: 0.5em;
  }
  .card {
    display: inline-block;
    height: 14.5em;
    width: 10em;
    background-color: rgb(38 38 38);
    border-radius: 10px;
    padding: 10px;
    margin: 20px 20px;
  }
  .card:hover{
      cursor: pointer;
  }
  .carousel_title{
    margin-left: 3.4em;
    color: white;
  }
  .major_title {
    font-size: 1em;
    margin: 0.5em 0 0.5em 0.5em;
    color: white;
  }
  .minor_title{
      font-size: 0.7em;
      color: rgb(141, 141, 141);
  }