body {
    background-color: rgb(10, 10, 10);
    font-family: 'Inter', sans-serif;
}
/* width */
::-webkit-scrollbar {
    width: 0.75em;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgb(34, 34, 34);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(85, 85, 85);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(124, 124, 124);
  }
.brcpxa {
    display: none
}
.ikyGAt {
    display: none;
}
.hCVuYx {
    background-color: transparent !important;
    color: transparent !important; 
    box-shadow: none !important;
    cursor: default !important ;
  }
  .chowzb {
    background-color: #1db95477 !important;

  }
  .chowzb:hover{
      background-color: rgb(70, 156, 70) !important;

  }
  .header {
      height: 1em;
      display: flex;
      justify-content: space-between;
      padding: 1.5em;
      font-size: 1.2em;
  }

  .tab{
      color: rgb(187, 187, 187);
      margin: 0 1.5em;
      text-decoration: none; 
  }
  .tab:hover{
      cursor: pointer;
      color: white;
  }
  .logo{
      color: white;
      text-decoration: none;
  }
  .profile_logo{
      color: white;
  }
  .carousel{
    width: 95%;
    margin: auto;
    position: relative;
  }
  .img{
    height: 9em;
    display: block;
    margin: auto;
    margin-top: 0.5em;
  }
  .round_img{
    height: 11em;
    display: block;
    margin: auto;
    margin-top: 0.5em;
    border-radius: 50%;
  }
  .card {
    display: inline-block;
    height: 14.5em;
    width: 10em;
    background-color: rgb(38 38 38);
    border-radius: 10px;
    padding: 10px;
    margin: 20px 20px;
  }
  .artist_card{
    display: inline-block;
    height: 14.5em;
    width: 13em;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 20px;
  }
  .artist_card:hover{
      cursor: pointer;
  }
  .card:hover{
      cursor: pointer;
  }
  .carousel_title{
    margin: 2em;
    text-align: center;
    color: white;
  }
  .major_title {
    font-size: 1em;
    margin: 0.5em 0.5em 0.5em 0.5em;
    color: white;
  }
  .minor_title{
      font-size: 0.7em;
      color: rgb(141, 141, 141);
  }
  .artists_major_title {
    font-size: 1em;
    margin: 0.5em 0.5em 0.5em 0.5em;
    color: white;
    text-align: center;
  }
  .artist_titles {
      text-align: center;
  }
  @media only screen and (max-width: 1190px) {
    .carousel_title {
        margin-left: 3.95em;
        color: white;
    }
  }
  .main_page_img{
    display: flex;
    height: 20em;
    padding: 0 5em;
    background-color: white;
    opacity: 0.1;
  }